.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.github/**
docs/**
.local.comments.txt
*.vsix
.DS_Store
package-lock.json
.eslintrc.json
tmp/
tmp.*
*.tmp.*
